.section {
  width: 650px;
  margin: 0 auto;
}
.dropDown {
  margin: 2em 0;
  width: 70%;
}
.search {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding-left: 15px;
  font-size: 16px;
}
.form-check ul {
  list-style: none;
  padding: 0;
  border: 1px solid;
}
.form-check ul li label {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 5px 0;
}
.form-check ul li:hover {
  background: #ccc;
}
.resultBox {
  width: 30%;
  margin: 2em 0;
  padding: 38px 0px;
}
.main {
  display: flex;
}
.resultBox div {
  padding-left: 10px;
  border: 1px solid;
  margin: 10px;
}
